<nav>
  <ul>
    <li>
      <a routerLink="/" class="hover:opacity-50">
        <div class="flex items-center">
          <img class="w-12" src="/assets/images/Tailwindlogo.png" alt="logo">
          <p class="ml-3 text-xl">tailwindcss</p>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="about">什麼是 Tailwind CSS ?</a>
    </li>
    <li>
      <a routerLink="easy">Tailwind CSS 簡單示範</a>
    </li>
    <li>
      <a routerLink="rwd">Tailwind CSS 實做 RWD</a>
    </li>
    <li>
      <a routerLink="grid">Tailwind CSS 格線系統</a>
    </li>
    <li>
      <a routerLink="config">使用 tailwind.config 高度客製化網頁</a>
    </li>
    <li>
      <a routerLink="apply">用 @apply 濃縮 css name</a>
    </li>
    <li>
      <a routerLink="function">內建常用 functions CSS</a>
    </li>
    <li>
      <a routerLink="group">group-modifier 創建互動性元素</a>
    </li>
    <li>
      <a routerLink="plugin">Tailwind Plugin 安裝套件</a>
    </li>
  </ul>
</nav>
