
<h2 class="font-semibold mb-2 text-purple-400">顏色色系</h2>
  <hr>
  <div class="grid grid-cols-4 gap-5">
    <div class="p-4">
      <p>primary</p>
      <ul class="flex">
        <li class="w-7 h-7 bg-primary-100"></li>
        <li class="w-7 h-7 bg-primary-200"></li>
        <li class="w-7 h-7 bg-primary-300"></li>
        <li class="w-7 h-7 bg-primary-400"></li>
        <li class="w-7 h-7 bg-primary-500"></li>
        <li class="w-7 h-7 bg-primary-600"></li>
        <li class="w-7 h-7 bg-primary-700"></li>
        <li class="w-7 h-7 bg-primary-800"></li>
        <li class="w-7 h-7 bg-primary-900"></li>
      </ul>
    </div>

    <div class="p-4">
      <p>secondary</p>
      <ul class="flex">
        <li class="w-7 h-7 bg-secondary-100"></li>
        <li class="w-7 h-7 bg-secondary-200"></li>
        <li class="w-7 h-7 bg-secondary-300"></li>
        <li class="w-7 h-7 bg-secondary-400"></li>
        <li class="w-7 h-7 bg-secondary-500"></li>
        <li class="w-7 h-7 bg-secondary-600"></li>
        <li class="w-7 h-7 bg-secondary-700"></li>
        <li class="w-7 h-7 bg-secondary-800"></li>
        <li class="w-7 h-7 bg-secondary-900"></li>
      </ul>
    </div>

    <div class="p-4">
      <p>gray</p>
      <ul class="flex">
        <li class="w-7 h-7 bg-gray-50"></li>
        <li class="w-7 h-7 bg-gray-100"></li>
        <li class="w-7 h-7 bg-gray-200"></li>
        <li class="w-7 h-7 bg-gray-300"></li>
        <li class="w-7 h-7 bg-gray-400"></li>
        <li class="w-7 h-7 bg-gray-500"></li>
        <li class="w-7 h-7 bg-gray-600"></li>
        <li class="w-7 h-7 bg-gray-700"></li>
        <li class="w-7 h-7 bg-gray-800"></li>
        <li class="w-7 h-7 bg-gray-900"></li>
      </ul>
    </div>
    <div class="p-4">
      <p>dark</p>
      <ul class="flex">
        <li class="w-7 h-7 bg-dark-400"></li>
        <li class="w-7 h-7 bg-dark-500"></li>
        <li class="w-7 h-7 bg-dark-600"></li>
        <li class="w-7 h-7 bg-dark-700"></li>
        <li class="w-7 h-7 bg-dark-800"></li>
        <li class="w-7 h-7 bg-dark-900"></li>
      </ul>
    </div>
    <div class="p-4">
      <p>danger</p>
      <ul class="flex">
        <li class="w-7 h-7 bg-danger-200"></li>
        <li class="w-7 h-7 bg-danger-300"></li>
        <li class="w-7 h-7 bg-danger-400"></li>
        <li class="w-7 h-7 bg-danger-500"></li>
      </ul>
    </div>

    <div class="p-4">
      <p>warn</p>
      <ul class="flex">
        <li class="w-7 h-7 bg-warn-200"></li>
        <li class="w-7 h-7 bg-warn-500"></li>
        <li class="w-7 h-7 bg-warn-600"></li>
      </ul>
    </div>

  </div>

  <h2 class="font-semibold mb-2 mt-5 text-purple-400">文字大小</h2>
  <hr class="mb-2">
  <div>
    <ul class="flex items-center">
      <!-- <li class="mx-2 text-center">
        <h1 >h1</h1>
      </li> -->
      <li class="mx-2 text-center">
        <p class="text-3xl">30px</p>
        <span class="text-sm">text-3xl</span>
      </li>
      <li class="mx-2 text-center">
        <p class="text-2xl">24px</p>
        <span class="text-sm">text-2xl</span>
      </li>
      <li class="mx-2 text-center">
        <p class="text-xl">20px</p>
        <span class="text-sm">text-xl</span>
      </li>
      <li class="mx-2 text-center">
        <p class="text-lg">18px</p>
        <span class="text-sm">text-lg</span>
      </li>
      <li class="mx-2 text-center">
        <p class="text-base">16px</p>
        <span class="text-sm">text-base</span>
      </li>
      <li class="mx-2 text-center">
        <p class="text-sm">14px</p>
        <span class="text-sm">text-sm</span>
      </li>

      <li class="mx-2 text-center">
        <p class="text-xs">12px</p>
        <span class="text-sm">text-xs</span>
      </li>
    </ul>
  </div>

  <h2 class="font-semibold mb-2 mt-5 text-purple-400">RWD斷點</h2>
  <hr class="mb-3">
  <div>
    <ul class="">
      <li class="flex flex-row font-semibold ">
        <div class="basis-1/4 text-yellow-300">斷點</div>
        <div class="basis-1/4 text-yellow-300">min width</div>
        <div class="basis-1/2 text-yellow-300">css</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">xs</div>
        <div class="basis-1/4">400px</div>
        <div class="basis-1/2">media (min-width: 400px)</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">sm</div>
        <div class="basis-1/4">640px</div>
        <div class="basis-1/2">media (min-width: 640px)</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">md</div>
        <div class="basis-1/4">768px</div>
        <div class="basis-1/2">media (min-width: 768px)</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">pad</div>
        <div class="basis-1/4">960px</div>
        <div class="basis-1/2">media (min-width: 960px)</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">lg</div>
        <div class="basis-1/4">1024px</div>
        <div class="basis-1/2">media (min-width: 1024px)</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">xl</div>
        <div class="basis-1/4">1280px</div>
        <div class="basis-1/2">media (min-width: 1280px)</div>
      </li>
      <li class="flex flex-row">
        <div class="basis-1/4">2xl</div>
        <div class="basis-1/4">1536px</div>
        <div class="basis-1/2">media (min-width: 1536px)</div>
      </li>
    </ul>
  </div>

